<div class='item item-divider'>물건명: </div>
<label class='item item-input first-name-input'>
  <input type='text' autocapitalize='words' ng-model='userinfo.firstName' ng-blur='onFirstNameBlur()' placeholder='이름 *'>
  <i class="icon" style='width: 40px; text-align: center;'></i>
</label>
<label class='item item-input last-name-input'>
  <input type='text' autocapitalize='words' ng-model='userinfo.lastName' ng-blur='onLastNameBlur()'  placeholder='별칭 *'>
  <i class="icon" style='width: 40px; text-align: center;'></i>
</label>
<label class='item item-input third-thing-input'>
  <input type='text' autocapitalize='words' ng-model='userinfo.thirdThing' ng-blur='onThirdThingBlur()'  placeholder='3번 *'>
  <i class="icon" style='width: 40px; text-align: center;'></i>
</label>
