<span class='post-form-error'></span>
<span class='post-form-description'>물건정보를 입력해주세요 :D</span>

<div class='list post-form'>
  <product-name userinfo='userinfo' productinfo = 'productinfo'></product-name>
  <span class='post-form-error'>{{error}}</span>
  <!--
  <checkout-account userinfo='userinfo' ng-if='!isLoggedIn'></checkout-account>
    <span class='post-form-error'>{{error}}</span>
  <checkout-address userinfo='userinfo'></checkout-address>
  
  <div>
      <h2 class='post-total'>Total: ${{total}}</h2>
    <br><br>
  </div>
-->
</div>

