/* Empty. Add your own CSS if you like */

/*KeyFrames*/

@-webkit-keyframes fadeOut { from { opacity: 1; } to { opacity: 0; }  }
   @-moz-keyframes fadeOut { from { opacity: 1; } to { opacity: 0; }  }
     @-o-keyframes fadeOut { from { opacity: 1; } to { opacity: 0; }  }
        @keyframes fadeOut { from { opacity: 1; } to { opacity: 0; }  }

/* CART */
head {
    height: 100%;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
}

.bar-black {
  color : #FFFFFF !important;
  background-color:#000000 !important;
}

.my-menu {
  background-color: #3f4041;
}

.my-menu .list {
  background-color: transparent;
}

.my-menu .item, .my-menu .item-content, .my-menu .item-complex{
  background-color: transparent;
  color: #FFFFFF;
  border-color: rgba(0,0,0,0);
}

.item .item-dark {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: white;
}

.bordered {
  border: 0px !important;
}

.item-option {
  color: #777;
  font-size: 90%;
}

/* Catalog Content*/

.ion-catalog-content {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.widecard {
    height:100%;
  margin:0px;
}

.catalog-product-add {
  cursor: pointer;
  text-align: center;
  border: 1px solid #404040;
  border-radius: 2px;
}

.catalog-product-add:hover {
  color: #FFFFFF;
  background: #404040;
  border: 1px solid #FFFFFF;
}

.catalog-product-add-title {
  font-weight: 300;
}

.catalog-product-add-title:hover {
  color: #FFFFFF;
}

.catalog-product-added {
  -webkit-animation: fadeOut 0.5s;
     -moz-animation: fadeOut 0.5s;
       -o-animation: fadeOut 0.5s;
          animation: fadeOut 0.5s;
}

/* Cart Content */

.product-card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: none;
  border-radius: none;
}

.product-item {
}

.product-image {
  max-height: 90px !important;
  max-width: 90px !important;
  right: 5px !important;
  cursor: pointer;
}

.product-title {
}

.product-description {
}

.product-quantity {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: underline;
}

.product-price {
  margin-left: 15px;
}

.icon-plus-round {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.icon-minus-round {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Slider */

.image-slider-modal {
  height: inherit;
    
}
.image-slider-box {
  height: 100%;
  text-align: center;
}

.image-ion-slide {

}

.image-slide-div {
  margin-top: 10px;
    height:100%;
}

.image-slide-description {
    height:100%;
}

.image-slide {
  height: auto;
  width: 250px;
}

.empty-cart-div {
  margin-top: 100px;
  text-align: center;
}

.empty-cart-header {
}

.empty-cart-icon {
  font-size: 200px;
  color: #404040;
}

/* fancy select */
fancy-select .list {
  margin: -1px 0;
}

/* line 13, ../scss/modules/_fancy-select.scss */
.fancy-select-items {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 19, ../scss/modules/_fancy-select.scss */
.fancy-select-items .item {
  overflow: hidden;
  /* Clearfix */
}

/* line 24, ../scss/modules/_fancy-select.scss */
.fancy-select-items label p {
  height: 32px;
  line-height: 32px;
}

/* line 29, ../scss/modules/_fancy-select.scss */
.fancy-select-icon {
  float: left;
  margin-right: 10px;
  width: 30px;
  text-align: center;
}

/* Checkout */

.checkout-form-error {
  display: block;
  text-align:center;
  color: '#ED303C';
}

.checkout-form-description {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  opacity: 0.45;
}

.checkout-form {
  margin-top: 10px;
}

.checkout-total {
  padding-top: 14px;
  text-align: center;
}

/* Partials*/

.address-line-one {

}

.address-line-two {

}

.card-cvc-input {

}

.card-exp-input {

}

.card-num-input {

}

.city-input {

}

.email-input {

}

.first-name-input {

}

.last-name-input {

}

.state-input {

}

.zipcode-input {

}

// 이 밑으로 전부 추가
.tabbed-slidebox .slider {
    height: 100%;
}
.tabbed-slidebox.btm .slider {
    margin-bottom: -50px;
}
.tabbed-slidebox .slider-slides {
    width: 100%;
}

.tabbed-slidebox .slider-slide {
    padding-top: 0px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-weight: 300;
    background-color: #FFF;
}

.tabbed-slidebox .tsb-icons {
    text-align: center;
    margin: 10px 0;
    position: relative;
	background-color:#fff;
}

.tabbed-slidebox .tsb-ic-wrp {
    display: flex;
    position: relative;
	-webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
	-webkit-transform:translate3d(0,0,0);
}

.tabbed-slidebox .tsb-icons a {
    display: inline-block;
    width: 54px;
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.3);
	-webkit-transform:translate3d(0,8px,0);
}

.tabbed-slidebox .tsb-icons a.active {
    color: rgba(0, 0, 0, 1);
    font-size: 3.5em;
	-webkit-transform:translate3d(0,0,0);
}

.tabbed-slidebox .tabbed-slidebox {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.tabbed-slidebox .tsb-icons:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.4em 1.4em 1.4em;
    border-color: transparent transparent #DDD transparent;
    position: absolute;
    content: "";
    display: block;
    bottom: -12px;
    left: 50%;
    margin-left: -14px;
}
.tsb-hscroll.scroll-view{
  	white-space: nowrap;
	margin:0 auto;
}
.tsb-hscroll.scroll-view .scroll-bar{
	visibility:hidden;
}
.tsb-hscroll.scroll-view .scroll.onscroll{
	-webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
}

.tabbed-slidebox .tsb-icons .scroll a{
	width:auto;
	font-size: 1.5em;
	line-height: 1.5em;
	text-decoration: none;
	margin: 0 15px;
	border-bottom: 3px solid transparent;
}
.tabbed-slidebox .tsb-icons .scroll a.active {
	font-size: 1.8em;
	border-bottom: 3px solid #DDD;
}
.myPages5 {
    margin-top: 45px;
}